body {
	margin: 0;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

#score {
	text-align: center;
}

#cards {
	display: grid;
	grid-template-columns: repeat(4, 200px);
	grid-template-rows: repeat(3, 200px);

	justify-content: center;
}

.cards__card {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	cursor: pointer;
}

.cards__card.matched {
	cursor: default;
}
